.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 55px;
    margin-bottom: 40px;
}
  
@media (max-width: 768px) {
    .movie-grid {
      grid-template-columns: 1fr;
    }
}
  